
:root{
    --container-width--lg: 76%;
    --container-width--md: 90%;
    --container-width--sm: 94%;

    --transition: all 400ms ease;
}



/*
@mixin contenedorA ($fondo) {
    background-color: $fondo;
    width: 200px;
    height: 300px;
    margin: 5px 10px;
    padding: 10px;
}

.contenedorEquipo{
    @include contenedorA ($colorDos);
}

*/
