
/* -------------------------------------------------------------------------- */
/*                                   RESETEO                                  */
/* -------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* -------------------------------------------------------------------------- */
/*                             PUNTO DE CONTROL                           */
/* -------------------------------------------------------------------------- */
@import "../scss/pdc/paleta";
@import "../scss/pdc/variables";
@import "../scss/general/punto";
@import "../scss/general/boton";

/* -------------------------------------------------------------------------- */
/*                                  SITIO WEB                                 */
/* -------------------------------------------------------------------------- */
@import "../scss/general/nav";
@import "../scss/general/footer";
/* -------------------------------------------------------------------------- */
/*                                    PAGES                                   */
/* -------------------------------------------------------------------------- */
 @import "../scss/pages/index";
 @import "../scss/pages/trakk";
 @import "../scss/pages/equipo";
 @import "../scss/pages/trayectoria";
 @import "../scss/pages/contacto";
 @import "../scss/pdc/medias";


body{
    background-color: $color5;
    width: 100%;
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: var(--container-width--lg);
    margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                              PUNTO DE CONTROL                              */
/* -------------------------------------------------------------------------- */






