
/* Variables */
:root{
    --header-height: 3rem;
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    a{
        text-decoration: none;
    }
    
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.logo{
    width: 3rem;
}
.header{

}



