.logonav{
    width: 100px;
}

nav{
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;

    button{
        display: none;
    }
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;

    a{
        font-size: 0.9rem;
        text-decoration: none;

        &:hover{
            color: $color2;
            transition: all 400ms ease;
        }
    }
}

.window-scroll{
    background: $color5;
    box-shadow:  0 1rem 2rem rgba(0, 0, 0, 0.3);
}



