/* -------------------------------------------------------------------------- */
/*                                   EQUIPO                                   */
/* -------------------------------------------------------------------------- */

#equipo{
    width: 100%;
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .card{
            width: 15rem;
            text-align: center;
            align-items: center;
            img{
            
                width: 8rem;

            }
            .cardTexto{
                h2{
                    font-size: 1.3em;
                }
                h3{
                    font-size: 1rem;
                    font-weight: bold;

                }
                h4{
                    font-size: larger;
                    text-align: center;

                }
            }
            .cardRRSS{
                a{
                    img{
                        width: 2rem;

                    }
                }
            }
        }
    }
}


.tituloE{
    text-align: center;
    align-content: center;
}