.categories{
    height: auto;
    h1{
        line-height: 1;
        margin-bottom: 3rem;
    }
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left{
    margin-right: 4rem;
    p{
        margin: 1rem 0 3rem;
    }
}

.categories__right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category{
    background: $color6;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    
    h5{
        margin: 2rem 0 1rem;
    }

    p{
        font-size: 0.85rem;
    }

    &:hover{
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    &:nth-child(2){
        .category__icon{
        background: blue;
    }
}

&:nth-child(3){
    .category__icon{
    background: red;
}
}

&:nth-child(4){
    .category__icon{
    background: purple;
}
}

&:nth-child(5){
    .category__icon{
    background: rgb(169, 124, 9);
}
}

&:nth-child(6){
    .category__icon{
    background: rgb(31, 157, 167);
}
}
}

.category__icon{
    background: green;
    color: white;
    padding: 0.7rem;
    border-radius: 0.9rem;

}