.courses{
    margin-top: 3 rem;
}

.courses__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course{
    background: $color1;
    text-align: center;
    border: 1px solid  transparent;
    transition: var(--transition);
    &:hover{
        background: transparent;
        border-color: $color6;

    }
}

.course__info{
    padding: 2rem;
    p {
        margin: 1,2rem 0 2rem;
        font-size: 0.9rem;
    }
}

.carousel{
    width: 85%;
}